<div id="modModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Formulario de Modificación de Materias</h5>
      </div>
      <div class="modal-body">
        <!-- IDEA: comienza intento de cambiar el formulario -->

        <div class="panel panel-default">
          <div class="panel-heading">Formulario de Modificación de Materias</div>
            <div class="panel-body">
                <input class="form-control" type="text" placeholder="Nombre de la Materia" id="mnombre" data-form="nombre" required value='{{ m.nombre }}'>
                <input class="form-control" type="text" placeholder="Código de la Materia" id="mcogigo" value='{{ m.codigo }}' required>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Curso</span>
                <select class="form-control" id="mcurso">
                  {% if 1 == m.curso %}
                    <option value=1 selected>Primero</option>
                  {% else %}
                    <option value=1>Primero</option>
                  {% endif %}
                  {% if 2 == m.curso %}
                    <option value=2 selected>Segundo</option>
                  {% else %}
                    <option value=2>Segundo</option>
                  {% endif %}
                  {% if 3 == m.curso %}
                    <option value=3 selected>Tercero</option>
                  {% else %}
                    <option value=3>Tercero</option>
                  {% endif %}
                  {% if 4 == m.curso %}
                    <option value=4 selected>Cuarto</option>
                  {% else %}
                    <option value=4>Cuarto</option>
                  {% endif %}
                  {% if 5 == m.curso %}
                    <option value=5 selected>Quinto</option>
                  {% else %}
                    <option value=5>Quinto</option>
                  {% endif %}
                  {% if 6 == m.curso %}
                    <option value=6 selected>Sexto</option>
                  {% else %}
                    <option value=6>Sexto</option>
                  {% endif %}
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4">Sección</span>
                <select class="form-control" id="mseccion">
                  {% if 'A' == m.seccion %}
                    <option value="A" selected>A</option>
                  {% else %}
                    <option value="A">A</option>
                  {% endif %}
                  {% if 'B' == m.seccion %}
                    <option value="B" selected>B</option>
                  {% else %}
                    <option value="B">B</option>
                  {% endif %}
                  {% if 'C' == m.seccion %}
                    <option value="C" selected>C</option>
                  {% else %}
                    <option value="C">C</option>
                  {% endif %}
                  {% if 'D' == m.seccion %}
                    <option value="D" selected>D</option>
                  {% else %}
                    <option value="D">D</option>
                  {% endif %}
                </select>
              </div>

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">Carreras</span>
                  <select class="form-control" id="mcarrera" data-form="tipo">
                      {% for carrera in carreras %}
                        {% if carrera.id == m.carrera %}
                          <option value="{{ carrera.id }}" selected>{{ carrera.nombre }}</option>
                        {% else %}
                          <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">Docente</span>
                  <select class="form-control" id="mdocente" data-form="tipo">
                      {% for usuario in usuarios %}
                        {% if usuario.id == m.docente %}
                          <option value="{{ usuario.id }}" selected>{{ usuario.nombre }} {{ usuario.apellido }}</option>
                        {% else %}
                          <option value="{{ carrera.id }}">{{ usuario.nombre }} {{ usuario.apellido }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>%}
                </div>
                  <button onclick="malta({{ m.id }})" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Guardar Modificación</button>
              </div>
            </div>

        <!-- IDEA: termina intento -->
      </div>
    </div>
  </div>
</div>
