{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='script_vs_v2.js')}}"></script>
<script src="{{url_for('static', filename='jquery.toaster.js')}}"></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block html_attribs %} lang="es"{% endblock %}


{% block title %}
  Consulta de Asistencia
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h1 class="title-custom">Sitema de Gestión de Asistencia</h1>
    <h3><span class="label label-primary">Consultas de Alumnos</span></h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" id="balumno" placeholder="Número de CI">
          <span class="input-group-btn">
            <button onclick="balumno()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
  </div>
</div>
<div id="detasistencia">

</div>

{% endblock %}
