<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Información General</h3>
  </div>
  <div class="panel-body">
    <h4>Cant. de Clases <span class="label label-primary">{{g[0]}}</span></h4>
    <h4>Cant. de Alumnos <span class="label label-primary">{{g[1]}}</span></h4>
    <h4>Hoy</h4>
    <h4>Alumnos Presentes</h4>
    <h4>Entrada <span class="label label-primary">{{g[2]}}</span> - <span class="label label-primary">{{g[3]}} %</span></h4>
    <h4>Salida <span class="label label-primary">{{g[4]}}</span> - <span class="label label-primary">{{g[5]}} %</span></h4>
  </div>
</div>
