{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='script.js')}}"></script>

{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='style_V1.css')}}">
{% endblock %}

{% block html_attribs %} lang="es"{% endblock %}


{% block title %}
  Panel Central
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
  <h2>Hi {{ current_user.nombre }}!</h2>

  <h2>{{ current_user.apellido }}</h2>
  <h2>{{ current_user.tipo }}</h2>

  <a href="{{ url_for('salir') }}">Salir</a>

{% else %}
<div class="alert alert-warning" role="alert">
   Por favor vaya a <a href="{{ url_for('ingresar')}}">el panel de ingreso</a> para poder entrar
</div>

{% endif %}

{% endblock %}
