<div id="detAlumno" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-content">
    <div class="modal-body">
      <div class="panel panel-default panel-interno">
        <div class="panel-heading">Información de {{  a.nombre }} {{a.apellido}}</div>
        <table>
        </table>
      </div>
    </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cerrar</button>
  </div>
</div>
