
<div class="panel panel-success">
  <div class="panel-heading">
    {{g[6]}}
  </div>
  <div class="panel-body">
    <table class="table">
      <tr><td>Nro de Clases </td><td><span class="label label-primary">{{g[0]}}</span></td></tr>
      <tr><td>Nro de Alumnos </td><td><span class="label label-primary">{{g[1]}}</span></td></tr>
      <tr><td>Presentes Entrada </td><td><span class="label label-primary">{{g[2]}}</span> - <span class="label label-primary">{{g[3]}} %</span></td></tr>
      <tr><td>Presentes Salida </td><td><span class="label label-primary">{{g[4]}}</span> - <span class="label label-primary">{{g[5]}} %</span></td></tr>
    </table>
  </div>
</div>
