{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='script.js')}}"></script>

{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='style_V1.css')}}">
{% endblock %}

{% block html_attribs %} lang="es"{% endblock %}


{% block title %}
  Panel Central
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
  <h2>Hi {{ current_user.nombre }}!</h2>
{% else %}
  <h2>No estas autenticado</h2>
{% endif %}

{% endblock %}
