{% extends "layout.html" %}

{% block title %}
  Entrar
{% endblock %}
{% block body %}

<!-- Sacado de: https://bootsnipp.com/snippets/dldxB -->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i data-feather="users"></i>
    </div>

    <!-- Login Form -->
    <form  action="{{ url_for('dashboard') }}" method="post">
      <input type="text" name="correo" class="fadeIn second" name="login" placeholder="Correo Electrónico">
      <input type="text" name="c" class="fadeIn third" name="login" placeholder="Contraseña">
      <input type="submit"  value="Ingresar" class="fadeIn fourth">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</div>
{% endblock %}
