{% extends "bootstrap/base.html" %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='style_V1.css')}}">
{% endblock %}

{% block html_attribs %} lang="es"{% endblock %}


{% block title %}
  Entrar
{% endblock %}

{% block content %}

<div id="loginModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Sistema de Control de Asistencia</h5>
      </div>
      <div class="modal-body">
        <p>Ingrese su correo electrónico y contraseña</p>
        <form class="form-group" action="{{ url_for('login')}}" method="post">
            <input type="text" name="correo" class="form-control" id="correo" placeholder="Correo Electrónico" required>
            <input type="password" name="c" class="form-control" placeholder="Contraseña" required>
            <br>
            <!-- IDEA: <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>  -->
            <input type="submit" class="btn btn-primary" value="Ingresar">
        </form>

        <button type="button" name="button" class="btn btn-default">Ingresar con Cuenta Institucional</button>

      </div>
      <div class="modal-footer">
        <a href="">¿Olvidó su contraseña?, contacte con el administrador</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    $('#loginModal').modal('show');
  });
</script>
{% endblock %}
