{% if b == 'f' %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Materia</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
{% for lista in listas %}
    {% if lista.activo == False %}
    <tr style="opacity:0.5;">
    {% else %}
    <tr>
    {% endif %}
      <td>{{lista.id}}</td>
      <td>{{lista.fecha}}</td>
      <td>{{lista.diasdeclases.horariosmateria.nombre}}</td>
      <td>
        {% if lista.activo == False %}
        <button type="button" class="btn btn-primary" onclick="habdia({{lista.id}})" style="opacity:1;"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
        {% else %}
        <a role="button" href="{{ url_for('lista', d=lista.id) }}" target="_blank" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
        <button type="button" class="btn btn-danger" onclick="desdia({{lista.id}})"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
        {% endif %}
      </td>
    </tr>
{% else %}
    <tr>
      <td>
        <p>
          No dias de clases
        </p>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endif %}
{% if b == 'c' %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Materia</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for horario in listas.horariosmateria %}
      {% for lista in horario.diasdeclases %}
        {% if lista.activo == False %}
        <tr style="opacity:0.5;">
        {% else %}
        <tr>
        {% endif %}
          <td>{{lista.id}}</td>
          <td>{{lista.fecha}}</td>
          <td>{{listas.nombre}}</td>
          <td>
            {% if lista.activo == False %}
            <button type="button" class="btn btn-primary" onclick="habdia({{lista.id}})"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
            {% else %}
            <a role="button" href="{{ url_for('lista', d=lista.id) }}" target="_blank" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></a>
            <button type="button" class="btn btn-danger" onclick="desdia({{lista.id}})"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
            {% endif %}
          </td>
        </tr>
        {% else %}
        <tr>
          <td>
            <p>
              No dias de clases
            </p>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
{% endif %}
