<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Periodo</th>
      <th scope="col">Desde</th>
      <th scope="col">Hasta</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
{% for periodo in periodos %}
    <tr>
      <td>{{periodo.id}}</td>
      <td>{{periodo.nombre_periodo}}</td>
      <td>{{periodo.inicio}}</td>
      <td>{{periodo.fin}}</td>
      <td>
        <button type="button" class="btn btn-primary" onclick='pmodificar({{periodo.id}})'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-danger" onclick='peliminar({{periodo.id}})''><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      </td>
    </tr>
{% else %}
    <tr>
      <td>
        <p>
          No hay periodos registrados
        </p>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
