
<div class="panel-group" id="acordeonMaterias" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#acordeonMaterias" href="#registroMaterias" aria-expanded="true" aria-controls="collapseOne">
          Formulario de Registro de Materias
        </a>
      </h4>
    </div>
    <div id="registroMaterias" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <input class="form-control form-materia" type="text" placeholder="Nombre de la Materia" id="mnombre">
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Curso</span>
          <select class="form-control form-materia" id="mcurso">
              <option class="falta_valor" value="falta_valor">Elija una opción</option>
              {% for curso in cursos %}
              <option value="{{curso.id}}" id="curso{{curso.id}}">{{curso.descripcion}}</option>
              {% else %}
              <option value="falta_valor">No hay cursos</option>
              {% endfor %}
          </select>
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">Sección</span>
          <select class="form-control form-materia" id="mseccion">
              <option class="falta_valor" value="falta_valor">Elija una opción</option>
              <option value="A" id="A">A</option>
              <option value="B" id="B">B</option>
              <option value="C" id="C">C</option>
              <option value="D" id="D">D</option>
          </select>
        </div>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Carreras</span>
            <select class="form-control form-materia" id="mcarrera" data-form="tipo">
              <option class="falta_valor" value="falta_valor">Elija una opción</option>
                {% for carrera in carreras %}
                    <option value="{{ carrera.id }}" id='carrera{{ carrera.id }}'>{{ carrera.nombre_carrera }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Periodo de Clases</span>
            <select class="form-control form-materia" id="mperiodo">
              <option value="falta_valor">Elija una opción</option>
              {% for periodo in periodos %}
              <option value="{{periodo.id}}" id="periodo{{periodo.id}}">{{periodo.nombre_periodo}}</option>
              {% else %}
              <option value="falta_valor">No hay periodos cargados</option>
              {% endfor %}
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Docente</span>
            <select class="form-control form-materia" id="mdocente">
              <option class="falta_valor" value="falta_valor">Elija una opción</option>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}" id='docente{{ usuario.id }}'>{{ usuario.nombre }} {{ usuario.apellido }}</option>
                {% endfor %}
            </select>
          </div>
            <button id="btnmateria" onclick="malta(null)" class="btn btn-primary"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Guardar Materia Nueva</button>
            <button type="button" class="btn btn-danger" onclick='mcancelar()''><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancelar Operación</button>
        <!-- IDEA:  -->
        </div>
      </div>
    </div>
</div>
<div id="lista-materias">

</div>
<div id="mensaje">
</div>
<div id="auxBox1">
</div>
