{% for clase in clases %}
  <div class="panel-group" id="carrera-parent{{ clase.id }}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="heading{{ clase.nombre_carrera }}">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#carrera-parent{{ clase.id }}" href="#carrera{{clase.id}}" aria-expanded="false" aria-controls="collapseTwo">
            {{ clase.nombre_carrera }}
          </a>
        </h4>
      </div>
      <div id="carrera{{clase.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-group" id="carrera{{clase.id}}-padre" role="tablist" aria-multiselectable="true">
          <div class="panel-body panel-interno">
            {% for materia in clase.materias %}
              {% if materia.docente == current_user.id and materia.actual %}
              <!-- IDEA:  -->
              <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="heading{{ materia.nombre }}">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#carrera{{clase.id}}-padre" href="#materia{{ materia.id }}" onclick="mostrarLista({{materia.id}})" aria-expanded="false" aria-controls="collapseThree">
                      {{ materia.nombre }} - {{ materia.cursomateria.descripcion }} {{ materia.seccion }}
                    </a>
                  </h4>
                </div>
                <div id="materia{{ materia.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body panel-interno">
                    <div id="lista{{materia.id}}">

                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
            <!-- IDEA:  -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="panel-group" id="panel-vacio" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#panel-vacio" href="#o1" aria-expanded="false" aria-controls="collapseThree">
          No tiene clases asignadas por el momento
        </a>
      </h4>
    </div>
    <div id="o1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Ninguna clases
      </div>
    </div>
  </div>
  </div>
{% endfor %}
