{% if minfo == True %}
<div id="minfoModal" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-content">
    <div class="modal-body">
      <div class="panel panel-info">
        <div class="panel-heading">Información de {{  m.nombre }} y Horarios</div>
        <div class="panel-body">

          <h4>Código: <span class="label label-primary">{{ m.codigo }}</span></h4>
          <h4>Curso: <span class="label label-primary">{{ m.curso }}</span></h4>
          <h4>Sección: <span class="label label-primary">{{ m.seccion }}</span></h4>
          <h4>Carrera: <span class="label label-primary">{{ m.carrera }}</span></h4>
          <h4>Docente: <span class="label label-primary">{{ m.docente }}</span></h4>
          <hr>
          <div class="input-group">

            <span class="input-group-addon" id="basic-addon1">Horarios: </span>
            <span class="input-group-btn">
              <button class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
            </span>
          </div>

          <button  type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>



{% endif %}
