<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h1 class="title-custom">Hola {% if current_user.tipo == 3 %}Prof.
      {% endif %}
      {{ current_user.nombre }} {{ current_user.apellido }}</h1>
      <h3><span class="label label-success">{{ ahora }}</span></h3>
      <h3><span class="label label-success">{{ hora }} horas</span></h3>
  </div>
</div>
<h3><span class="label label-primary">Clases de Hoy</span></h3>
<div class="clases_hoy">
  {% for clases_hoy in clase_hoy %}
  <div class="bs-callout bs-callout-primary"">
    <div class="caja_materias">
      <h4 class="nombre_materia">{{ clases_hoy.Materia.nombre }} <span class="label label-primary">Código: {{ clases_hoy.Materia.codigo }}</span></h4>
      <h5><span class="label label-primary">Curso:</span> {{ clases_hoy.Materia.cursomateria.descripcion }} {{ clases_hoy.Materia.seccion }}</h5>
      <h5><span class="label label-primary">Carrera:</span> {{ clases_hoy.Carrera.nombre_carrera }}</h5>
      <h5><span class="label label-primary">Sala:</span> {{ clases_hoy.Horario.sala }}</h5>
      <h5><span class="label label-primary">Horario:</span> {{ clases_hoy.Horario.dia }}, de {{ clases_hoy.Horario.desde }} a {{ clases_hoy.Horario.hasta }} horas. {{ clases_hoy.Periodo.nombre_periodo }}</h5>
      <h4><span class="label label-info" onclick="cantidad_alumnos({{ clases_hoy[0].id }})"><span class="cant_a{{ clases_hoy[0].id }}">{{ clases_hoy.Materia.cantidad }}</span> alumnos registrados  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></span></h4>

    </div>
    <br>
    <div id="btn-principales" class="btn-group-justified" role="group" aria-label="...">
      <a role="button" class="btn btn-default" onclick="registroAlumnos('{{ clases_hoy.Materia.codigo }}')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Anotar Alumnos</a>
      <a class="btn btn-primary" href="{{ url_for('lista', d=clases_hoy.Horario.diadeclase) }}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Llamar Lista</a>
    </div>
  </div>
  {% else %}
    <div class="bs-callout bs-callout-warning"">
    <h4>No tiene ninguna clase para el día de hoy</h4>
    <p>Si cree que esto es un error, por favor, contacte con su coordinador</p>
  </div>
  {% endfor %}
</div>
<h3><span class="label label-default">Clases para la semana</span></h3>
<div class="clases_hoy">
  {% for clases_semana in clase_semana %}
  <div class="bs-callout bs-callout-default"">
    <div class="caja_materias">
      <h4 class="nombre_materia">{{ clases_semana[0].nombre }} <span class="label label-default">Código: {{ clases_semana[0].codigo }}</span></h4>
      <h5><span class="label label-default">Curso:</span> {{ clases_semana[0].cursomateria.descripcion }} {{ clases_semana[0].seccion }}</h5>
      <h5><span class="label label-default">Carrera:</span> {{ clases_semana[1].nombre_carrera }}</h5>
      <h5><span class="label label-default">Sala:</span> {{ clases_semana[2].sala }}</h5>
      <h5><span class="label label-default">Horario:</span> {{ clases_semana[2].dia }}, de {{ clases_semana[2].desde }} a {{ clases_semana[2].hasta }} horas. {{ clases_semana[3].nombre_periodo }}</h5>
      <h3>
        <span class="label label-info" onclick="cantidad_alumnos({{ clases_semana[0].id }})">
          <span class="cant_a{{ clases_semana[0].id }}">{{ clases_semana[0].cantidad }}
        </span>
        alumnos registrados
        <span class="glyphicon glyphicon-refresh" aria-hidden="true">
        </span>
      </span>
    </h3>
    </div>
    <a role="button" class="btn btn-default" onclick="registroAlumnos('{{ clases_semana.Materia.codigo }}')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Anotar Alumnos</a>
  </div>
  {% else %}
    <div class="bs-callout bs-callout-warning"">
    <h4>No tiene ninguna clase para el resto de la semana</h4>
    <p>Si cree que esto es un error, por favor, contacte con su coordinador</p>
  </div>
  {% endfor %}
</div>

<div id="regAlumno" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-content">
    <div class="modal-body">
      <div class="panel panel-primary panel-interno">
        <div class="panel-heading">Anotar Alumno</div>

        <div id='infoproceso' class="alert " role="alert">

        </div>
          <input class="form-control form-alumno" type="text" placeholder="Código de Clase" id="mcodigo" onblur="verificarm()" required>
          <div id="infomateria"></div>
          <input class="form-control form-alumno" type="number" placeholder="Nro de Cédula" id="aci" onblur="verificara()" required>
          <div id="infoalumno">
          </div>
          <input class="form-control form-alumno" type="text" placeholder="Nombres" id="anombre">
          <input class="form-control form-alumno" type="text" placeholder="Apellidos" id="aapellido">
          <button id='btnAltaAlumno' onclick="acon()" class="btn btn-primary"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Enviar</button>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cerrar Ventana</button>
      </div>
    </div>
  </div>
