{% if not s_periodos %}
<div class="panel panel-default">
  <div class="panel-heading">Administrar Periodos
  </div>
  <div class="panel-body">
    <input class="form-control" type="text" placeholder="Descripcion del Periodo" id="pnombre">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Inicio:</span>
      <input class="form-control" type="date" id="pfechad">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Fin:</span>
      <input class="form-control" type="date" id="pfechah">
    </div>
    <button onclick="addPeriodo()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>Guardar Periodo Nuevo</button>
  </div>
  <div id="tablaperiodos">
{% endif %}
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Periodo</th>
        <th scope="col">Desde</th>
        <th scope="col">Hasta</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for periodo in periodos %}
        <tr>
          <td>{{periodo.id}}</td>
          <td>{{periodo.nombre_periodo}}</td>
          <td>{{periodo.inicio}}</td>
          <td>{{periodo.fin}}</td>
          <td>
            <button type="button" class="btn btn-primary" onclick='pmodificar({{periodo.id}})'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-danger" onclick='peliminar({{periodo.id}})''><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          </td>
        </tr>
      {% else %}
          <p>No hay periodos registrados</p>
      {% endfor %}
    </tbody>

{% if not s_periodos %}
  </div>
</div>
{% endif %}
