
body {
  margin: 10px;
}
.panel-group{
  margin-bottom: 5px;
}
.panel-interno{
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;

}
.label-inline{
  display: inline-block;
  margin-bottom: 5px;
  font-size: 85%;
  line-height: 1.5;
}
.parent-panel {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.4;
}
a, input{

  margin-bottom: .40rem;

}

.alabel {
  padding-right: 2px;
  padding-left:: 2px;
}

.input-group {
  margin-bottom: .40rem;
}

svg {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}


.panel-heading {
  text-align: center;
}

.caja_materias{
  display: inline-block;
  width: 70%;
}
.btn-llamar{
  float: right;
  bottom: 0;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #eee;
    border-left-width: 10px;
    border-radius: 3px;
    overflow: hidden;

}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;

}

.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
